// Fichier de configuration de JourneyMap. Modifiez cela à vos risques et périls!
// Pour utiliser dans tous les mondes, placez ici: journeymap\config\5.1\
// Pour plus d'information, allez sur: http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": true,
  "shape": "Rectangle",
  "position": "TopCenter",
  "showFps": true,
  "showBiome": true,
  "showLocation": true,
  "sizePercent": 30,
  "frameAlpha": 60,
  "terrainAlpha": 60,
  "orientation": "PlayerHeading",
  "compassFontScale": 1,
  "showCompass": true,
  "showReticle": true,
  "reticleOrientation": "Compass",
  "preferredMapType": "day",
  "active": false,
  "showCaves": false,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": true,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}