// Fichier de configuration de JourneyMap. Modifiez cela à vos risques et périls!
// Pour utiliser dans tous les mondes, placez ici: journeymap\config\5.1\
// Pour plus d'information, allez sur: http://journeymap.info/help/wiki/Options_Manager
{
  "preferredMapType": "day",
  "showCaves": false,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": false,
  "showPlayerHeading": true,
  "showMobs": false,
  "showAnimals": false,
  "showVillagers": false,
  "showPets": false,
  "showPlayers": false,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}