// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.1\
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "enabled": true,
  "shape": "Rectangle",
  "position": "TopCenter",
  "showFps": true,
  "showBiome": true,
  "showLocation": true,
  "sizePercent": 40,
  "frameAlpha": 80,
  "terrainAlpha": 80,
  "orientation": "PlayerHeading",
  "compassFontScale": 1,
  "showCompass": true,
  "showReticle": true,
  "reticleOrientation": "Compass",
  "preferredMapType": "day",
  "active": false,
  "showCaves": false,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": false,
  "showPlayerHeading": true,
  "showMobs": false,
  "showAnimals": false,
  "showVillagers": false,
  "showPets": false,
  "showPlayers": false,
  "showWaypoints": false,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 1,
    "micro": 4,
    "patch": "p2"
  }
}