# Configuration file

~CONFIG_VERSION: 1.1

categories {
    B:Commands=true
    B:Debug=false
}


commands {
    B:FindResearchFromRecipe=true
    B:GetHeldItemNBT=true
    B:GetResearchParents=true
    B:GetResearchTriggers=true
}


