# Configuration file

~CONFIG_VERSION: 1.6.1

##########################################################################################################
# fast-leaf-decay
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable compatibility patches for Fast Leaf Decay here
##########################################################################################################

fast-leaf-decay {
    # Makes Tainted Magic Warpwood leaves use Fast Leaf Decay's configured decay speed
    B:TaintedMagicWarpwoodLeaves=true

    # Makes Greatwood and Silverwood leaves use Fast Leaf Decay's configured decay speed
    B:ThaumcraftMagicalLeaves=true
}


##########################################################################################################
# harvest-level-config
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable compatibility patches for Harvest Level Config here
##########################################################################################################

harvest-level-config {
    # Makes the Thaumcraft Excavation Focus count as a diamond-level pickaxe, axe, and shovel for blocks edited by Harvest Level Config
    B:ExcavationFocusDiamondTools=true

    # Makes the Thaumcraft Primal Crusher correctly count as a level-5 pickaxe and shovel for blocks edited by Harvest Level Config
    B:PrimalCrusherTools=true
}


##########################################################################################################
# magic-cookies
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable bug patches for Magic Cookies here
##########################################################################################################

magic-cookies {
    # Controls the Dark Shrine entropy fog intensity. 0 is the lightest, 4 is the recommended default, and 10 is the strongest.
    I:EntropyFogIntensity=10

    # Removes the opaque fog inside the Dark Shrine, when using higher Java version
    B:OpaqueFogNetherDarkShrineJava25=true
}


##########################################################################################################
# mods
#--------------------------------------------------------------------------------------------------------#
# You can turn off bug-patches for whole mods here
##########################################################################################################

mods {
    B:"Fast Leaf Decay"=true
    B:"Harvest Level Config"=true
    B:"Magic Cookies"=true
    B:"Thaumcraft 4"=true
    B:"Thaumic Bases"=true
    B:"Thaumic Concilium"=true
    B:"Thaumic Exploration"=true
    B:"Witching Gadgets"=true
}


##########################################################################################################
# thaumcraft-4
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable bug patches for Thaumcraft 4 here
##########################################################################################################

thaumcraft-4 {
    # This patches the issue when Golem with Lumber core cannot drop wood blocks that are too hard to be broken by hand (compatible with HLC)
    B:GolemLumberBlockHardness=true

    # Removes the hidden property of the research -> it will be unlocked when the player discover the Telum aspect
    B:HiddenBoneBowResearch=true

    # Special tweak that will replace any parents/parentsHidden that are Null with an empty array, iterating on all researches registered
    B:NullResearchParentsPatchedEnabled=false
}


##########################################################################################################
# thaumic-bases
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable bug patches for Thaumcraft 4 here
##########################################################################################################

thaumic-bases {
    # Adds the missing prereq(s) for the "Thaumium Bracelet" research
    B:MissingPrereqs_ThaumiumBracelet=true

    # Adds the missing prereq(s) for the "Void Bracelet" research
    B:MissingPrereqs_VoidBracelet=true

    # Adds the missing prereq(s) for the "Void Wand Core" research
    B:MissingPrereqs_VoidWandCore=true
}


##########################################################################################################
# thaumic-concilium
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable compatibility patches for Thaumic Concilium here
##########################################################################################################

thaumic-concilium {
    # Stops Thaumic Concilium Thaumaturges and Witchery Village Guards from fighting each other
    B:WitcheryGuardNonAggression=true
}


##########################################################################################################
# thaumic-exploration
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable bug patches for Thaumic Exploration here
##########################################################################################################

thaumic-exploration {
    # This patches the crash caused by trying to craft a Black Floating Candle
    B:BlackFloatingCandle=true

    # Remove the buggy infusion recipe for the "NecroAltar" with unregistered/null output itemAlter
    B:RemoveNecroInfusionRecipe=true
}


##########################################################################################################
# witching-gadgets
#--------------------------------------------------------------------------------------------------------#
# You can disable/enable bug patches for Witching Gadgets addon here
##########################################################################################################

witching-gadgets {
    # Adds the missing prereq(s) for the "Witching Wearables" research
    B:MissingPrereqs_WitchingWearables=true
}


