# Configuration file

base {
    # Disable rendering of arm wear with armor equipped. Works with the mod installed that ports new skins.
    B:disableArmWear=false

    # Enable rendering arm wear for vanilla armor model. Works with the mod installed that ports new skins.
    B:enableArmWearWithVanillaM=true

    # List of armors that require arm wear render. Works with the mod installed that ports new skins.
    S:renderArmWearList <
     >

    # Blacklist of armor for rendering
    S:renderBlackList <
     >

    # Use check by item
    B:useCheckByItem=false

    # Vanilla armor model size
    D:vanillaArmorModelSize=0.4
}


