# Configuration file

balance {
    # 0 - never, 100 - always. Never is not recommended, it will lead to softlock of progress in unmodified survival. [range: 0 ~ 100, default: 100]
    I:chanceOfRiftOpening=90

    # Amount of ticks since last deal with Witchery' Flame Imp, during which Chorts wont attack player [range: 0 ~ 2147483647, default: 72000]
    I:impPactTime=72000
    B:quicksilverImmortality=true
}


causalbouillonid {
    I:dim=33
}


crimsonraidid {
    I:am2=555
}


focus {
    #  [range: 93 ~ 32767, default: 106]
    I:amorphicUpgradeID=106

    #  [range: 93 ~ 32767, default: 120]
    I:burnoutUpgradeID=120

    #  [range: 93 ~ 32767, default: 105]
    I:creeperUpgradeID=105

    #  [range: 93 ~ 32767, default: 117]
    I:dematerializationUpgradeID=117

    #  [range: 93 ~ 32767, default: 108]
    I:flashbangUpgradeID=108

    #  [range: 93 ~ 32767, default: 115]
    I:fluxVaporizationUpgradeID=115

    #  [range: 93 ~ 32767, default: 109]
    I:fulfillmentUpgradeID=109

    #  [range: 93 ~ 32767, default: 103]
    I:largeBallUpgradeID=103

    #  [range: 93 ~ 32767, default: 118]
    I:massHysteriaUpgradeID=118

    #  [range: 93 ~ 32767, default: 111]
    I:oblivionUpgradeID=111

    #  [range: 93 ~ 32767, default: 102]
    I:pneumoStrikeID=102

    #  [range: 93 ~ 32767, default: 121]
    I:primalEssenceUpgradeID=121

    #  [range: 93 ~ 32767, default: 107]
    I:randomBangUpgradeID=107

    #  [range: 93 ~ 32767, default: 100]
    I:refreezeID=100

    #  [range: 93 ~ 32767, default: 119]
    I:selfFlagellationUpgradeID=119

    #  [range: 93 ~ 32767, default: 104]
    I:starUpgradeID=104

    #  [range: 93 ~ 32767, default: 113]
    I:taintPurificationUpgradeID=113

    #  [range: 93 ~ 32767, default: 114]
    I:thoughtManifestationUpgradeID=114

    #  [range: 93 ~ 32767, default: 101]
    I:vacuumID=101

    #  [range: 93 ~ 32767, default: 110]
    I:vitaminizeUpgradeID=110

    #  [range: 93 ~ 32767, default: 112]
    I:warmingUpUpgradeID=112

    #  [range: 93 ~ 32767, default: 116]
    I:wispLauncherUpgradeID=116
}


mobs {
    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:burnedWitchBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:burnedWitchSpawnChance=1

    # 0 - never, 100 - always. [range: 0 ~ 100, default: 20]
    I:crimsonPaladinReplacesCultistWarriorChance=80

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:crimsonRangerBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:crimsonRangerSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:dissolvedBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:dissolvedSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:madThaumaturgeBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    # 0 - never, 100 - always. [range: 0 ~ 100, default: 20]
    I:madThaumaturgeReplacesBrainyZombieChance=20

    #  [range: 0 ~ 2147483647, default: 5]
    I:madThaumaturgeSpawnChance=4

    # How often game will attempt to spawn Nether Explorers (in ticks) [range: 0 ~ 2147483647, default: 300]
    I:netherExplorerSpawnRate=1000

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:overanimatedBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:overanimatedSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:paranoidWarriorBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:paranoidWarriorSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:quicksilverElementalBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:quicksilverElementalSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:sloppyAlchemistBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:sloppyAlchemistSpawnChance=20

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:thaumaturgeBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:thaumaturgeSpawnChance=1

    # Comma separated IDs of biomes where spawn is not allowed [default: ]
    S:vengefulGolemBiomeBlacklist=51,57,55,54,58,59,50,45,56,40,53,46,52,49,48,47,60,41,42,-42,-73

    #  [range: 0 ~ 2147483647, default: 5]
    I:vengefulGolemSpawnChance=1

    #  [range: 0 ~ 2147483647, default: 5]
    I:witheredBotanistSpawnChance=1
}


world {
    # Chance to generate Burning Site in villages. There can be only 1 per village. [range: 0 ~ 2147483647, default: 10]
    I:burningSitesGenChance=5

    # Chance to generate Crimson Avanpost in the world. The number is approximately: "generate 1 avanpost every N chunks" [range: 0 ~ 2147483647, default: 300]
    I:crimsonAvanpostGenChance=350

    # Generate Burning Sites in villages. [default: true]
    B:generateBurningSites=true

    # Generate Crimson Avanposts in the world. [default: true]
    B:generateCrimsonAvanposts=true
}


