# Configuration file

balance {
    # 99 - never, 0 - always. Never is not recommended, it will lead to softlock of progress in unmodified survival. [range: 0 ~ 2147483647, default: 0]
    I:chanceOfRiftOpening=10

    # Will quicksilver elemental be immune to non-fire attacks. [default: true]
    B:quicksilverImmortality=true
}


causalbouillonid {
    I:dim=33
}


focus {
    #  [range: 93 ~ 32767, default: 106]
    I:amorphicUpgradeID=106

    #  [range: 93 ~ 32767, default: 120]
    I:burnoutUpgradeID=120

    #  [range: 93 ~ 32767, default: 105]
    I:creeperUpgradeID=105

    #  [range: 93 ~ 32767, default: 117]
    I:dematerializationUpgradeID=117

    #  [range: 93 ~ 32767, default: 108]
    I:flashbangUpgradeID=108

    #  [range: 93 ~ 32767, default: 115]
    I:fluxVaporizationUpgradeID=115

    #  [range: 93 ~ 32767, default: 109]
    I:fulfillmentUpgradeID=109

    #  [range: 93 ~ 32767, default: 103]
    I:largeBallUpgradeID=103

    #  [range: 93 ~ 32767, default: 118]
    I:massHysteriaUpgradeID=118

    #  [range: 93 ~ 32767, default: 111]
    I:oblivionUpgradeID=111

    #  [range: 93 ~ 32767, default: 102]
    I:pneumoStrikeID=102

    #  [range: 93 ~ 32767, default: 121]
    I:primalEssenceUpgradeID=121

    #  [range: 93 ~ 32767, default: 107]
    I:randomBangUpgradeID=107

    #  [range: 93 ~ 32767, default: 100]
    I:refreezeID=100

    #  [range: 93 ~ 32767, default: 119]
    I:selfFlagellationUpgradeID=119

    #  [range: 93 ~ 32767, default: 104]
    I:starUpgradeID=104

    #  [range: 93 ~ 32767, default: 113]
    I:taintPurificationUpgradeID=113

    #  [range: 93 ~ 32767, default: 114]
    I:thoughtManifestationUpgradeID=114

    #  [range: 93 ~ 32767, default: 101]
    I:vacuumID=101

    #  [range: 93 ~ 32767, default: 110]
    I:vitaminizeUpgradeID=110

    #  [range: 93 ~ 32767, default: 112]
    I:warmingUpUpgradeID=112

    #  [range: 93 ~ 32767, default: 116]
    I:wispLauncherUpgradeID=116
}


mobs {
    # 99 - never, 0 - always. [range: 0 ~ 2147483647, default: 80]
    I:crimsonPaladinReplacesCultistWarriorChance=80

    #  [range: 0 ~ 2147483647, default: 10]
    I:dissolvedSpawnChance=2

    # 99 - never, 0 - always. [range: 0 ~ 2147483647, default: 80]
    I:madThaumaturgeReplacesBrainyZombieChance=80

    #  [range: 0 ~ 2147483647, default: 15]
    I:madThaumaturgeSpawnChance=6

    #  [range: 0 ~ 2147483647, default: 10]
    I:overanimatedSpawnChance=2

    #  [range: 0 ~ 2147483647, default: 10]
    I:paranoidWarriorSpawnChance=1

    #  [range: 0 ~ 2147483647, default: 10]
    I:quicksilverElementalSpawnChance=3

    #  [range: 0 ~ 2147483647, default: 10]
    I:thaumaturgeSpawnChance=20

    #  [range: 0 ~ 2147483647, default: 10]
    I:vengefulGolemSpawnChance=2
}


