# Configuration file

general {
    # Print out the thread info, stack trace, player name, warp type, and quantity of warp applied whenever a player's warp changes. [default: false]
    B:logWarpSources=false
}


